!!! html
%html
%head
  %title Blocipedia
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  .container
    %ul.nav.nav-tabs
      %li
        = link_to "Blocipedia", root_path
      %li
        = link_to "All Wikis", wikis_path

      .pull-right.user-info
        - if current_user
          Hello
          = link_to (current_user.name || current_user.email), current_user
          !&nbsp;
          = link_to edit_user_registration_path, class: 'btn btn-default btn-sm' do
            %span.glyphicon.glyphicon-user
          = link_to destroy_user_session_path, method: :delete, class: 'btn btn-default btn-sm' do
            %span.glyphicon.glyphicon-log-out
        - else
          = link_to new_user_session_path, class: 'btn btn-default btn-sm' do
            %span.glyphicon.glyphicon-log-in

    - if flash[:notice]
      .alert.alert-success
        %button.close{ type: "button", data: { dismiss: "alert" } }
          &times;
        = flash[:notice]
    - elsif flash[:error]
      .alert.alert-danger
        %button.close{ type: "button", data: { dismiss: "alert" } }
          &times;
        = flash[:error]
    - elsif flash[:alert]
      .alert.alert-danger
        %button.close{ type: "button", data: { dismiss: "alert" } }
          &times;
        = flash[:alert]

    = yield
